<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/sidebarLayout}">
    <head>
        <title>メールテンプレートマスタ</title>
    </head>
    <body>
        <div layout:fragment="sidebar">
            <div th:replace="~{layouts/sidebar :: sidebar ('system', 'mailTemplate')}"></div>
        </div>
        <section layout:fragment="content-header">
            <h1 th:with="text=${mailTemplateForm.isNew()} ? 'メールテンプレート登録' : 'メールテンプレート編集'" th:text="${text}">メールテンプレート登録</h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/system/mailtemplates/find(page=1)}">メールテンプレート検索</a></li>
                <li th:with="text=${mailTemplateForm.isNew()} ? 'メールテンプレート登録' : 'メールテンプレート編集'" th:text="${text}">メールテンプレート登録</li>
            </ol>
        </section>
        <section layout:fragment="content">
            <div class="box">
                <form th:object="${mailTemplateForm}" th:action="${action}" id="form1"
                      th:with="action=${mailTemplateForm.isNew()} ? @{/system/mailtemplates/new} : @{/system/mailtemplates/edit/{id}(id=*{id})}"
                      class="form-horizontal" enctype="multipart/form-data" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">テンプレートキー</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="templateKey"
                                       th:value="*{templateKey}" th:readonly="${not mailTemplateForm.isNew()}" />
                            </div>
                        </div>
                        <input th:replace="~{fragments/inputField :: input ('text', 'タイトル', 'subject')}" />
                        <input th:replace="~{fragments/textarea :: textarea ('本文', 'templateBody', 12)}" />
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-default bg-purple" type="submit"
                                th:with="text=${mailTemplateForm.isNew()} ? '登録' : '保存'" th:text="${text}">
                            Add MailTemplate
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </body>
    <div layout:fragment="scripts">
        <script th:replace="~{fragments/validationScript :: script}" />
        <script type="text/javascript" src="../public/static/js/system/mailtemplates.js"
                th:src="@{/static/js/system/mailtemplates.js}"></script>
    </div>
</html>
