<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/sidebarLayout}">
    <head>
        <title>Home</title>
    </head>
    <body>
        <!--/* この形式のコメントはHTMLソースから削除される */-->
        <div layout:fragment="sidebar">
            <div th:replace="~{layouts/sidebar :: sidebar ('', '')}"></div>
        </div>
        <section layout:fragment="content-header">
            <h1>ダッシュボード</h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li>ダッシュボード</li>
            </ol>
        </section>
        <section layout:fragment="content"></section>
    </body>
</html>
