<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/sidebarLayout}">
    <head>
        <title>ロール管理</title>
    </head>
    <body>
        <div layout:fragment="sidebar">
            <div th:replace="~{layouts/sidebar :: sidebar ('system', 'role')}"></div>
        </div>
        <div class="content-header" layout:fragment="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-md d-none d-sm-inline-block" th:with="text=${roleForm.isNew()} ? 'ロール登録' : 'ロール編集'" th:text="${text}">ロール登録</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/system/roles/find(page=1)}">ロール検索</a></li>
                            <li class="breadcrumb-item active" th:with="text=${roleForm.isNew()} ? 'ロール登録' : 'ロール編集'" th:text="${text}">ロール登録</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section layout:fragment="content">
            <div class="container-fluid">
                <form th:object="${roleForm}" th:action="${action}"
                      th:with="action=${roleForm.isNew()} ? @{/system/roles/new} : @{/system/roles/edit/{id}(id=*{id})}"
                      class="form-horizontal" enctype="multipart/form-data" method="post">
                    <div class="card card-outline card-purple shadow">
                        <div class="card-header">
                            <h3 class="card-title"
                                th:with="text=${roleForm.isNew()} ? '新規登録' : '編集'" th:text="${text}">新規登録</h3>
                        </div>
                        <div class="card-body">
                            <input th:replace="~{fragments/inputField :: input ('text', 'ロールコード', 'roleCode')}" />
                            <input th:replace="~{fragments/inputField :: input ('text', 'ロール名', 'roleName')}" />
                        </div>
                    </div>
                    <div class="card card-outline card-purple shadow">
                        <div class="card-header">
                            <h3 class="card-title">権限情報</h3>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table id="permissions" class="table table-hover" th:if="${permissions} != null and ${permissions.content} != null">
                                <thead>
                                    <tr class="d-flex">
                                        <th class="col">権限コード</th>
                                        <th class="col">権限名</th>
                                        <th class="col">適用</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="d-flex" th:each="permission : ${permissions.content}">
                                        <td class="col" th:text="${permission.permissionCode}" />
                                        <td class="col" th:text="${permission.permissionName}" />
                                        <td class="col">
                                            <div class="ml-4">
                                                <input type="checkbox" class="form-check-input" th:name="${inputName}"
                                                       th:field="${roleForm.permissions[__${permission.permissionCode}__]}"
                                                       th:value="true"
                                                       th:with="inputName=${'permissions[' + permission.permissionCode + ']'}" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer clearfix">
                            <div class="row justify-content-md-center">
                                <button class="btn btn-primary" type="submit" style="width: 140px;"
                                        th:with="text=${roleForm.isNew()} ? '登録' : '保存'" th:text="${text}">
                                    Add Role
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>
