<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/sidebarLayout}">
    <head>
        <title>ロール管理</title>
    </head>
    <body>
        <div layout:fragment="sidebar">
            <div th:replace="~{layouts/sidebar :: sidebar ('system', 'role')}"></div>
        </div>
        <section layout:fragment="content-header">
            <h1>ロール詳細</h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/system/roles/find(page=1)}">ロール検索</a></li>
                <li>ロール詳細</li>
            </ol>
        </section>
        <section layout:fragment="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">ロール情報</h3>
                    <table class="table table-striped" th:object="${role}">
                        <tr>
                            <th>ID</th>
                            <td th:text="*{id}"></td>
                        </tr>
                        <tr>
                            <th>ロールキー</th>
                            <td><b th:text="*{roleKey}"></b></td>
                        </tr>
                        <tr>
                            <th>ロール名</th>
                            <td th:text="*{roleName}"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">権限情報</h3>
                    <table id="permissions" class="table table-striped" th:if="${permissions} != null and ${permissions.data} != null">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>権限カテゴリキー</th>
                            <th>権限キー</th>
                            <th>権限名</th>
                            <th>適用</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="permission : ${permissions.data}">
                            <td th:text="${permission.id}" />
                            <td th:text="${permission.categoryKey}" />
                            <td th:text="${permission.permissionKey}" />
                            <td th:text="${permission.permissionName}" />
                            <td th:text="${enabled}" th:with="enabled=${role.permissions} != null and ${role.permissions[__${permission.id}__]}" />
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <a th:href="@{/system/roles/edit/{id}(id=${role.id})}" class="btn btn-default bg-purple">編集</a>
                    <a href="#" class="btn btn-danger">削除</a>
                </div>
            </div>
        </section>
    </body>
</html>
