<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{common/layout}" th:with="menu='codes'"><!--/* menuItemにパラメータを渡す */-->
    <head layout:fragment="~{common/layout::header}">
        <title>コード管理</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h2 th:with="text=${codeForm.isNew()} ? 'コード登録' : 'コード編集'" th:text="${text}">コード登録</h2>

            <form th:object="${codeForm}" th:action="${action}" th:with="action=${codeForm.isNew()} ? @{/codes/new} : @{/codes/edit/{id}(id=*{id})}"
                  class="form-horizontal" enctype="multipart/form-data" method="post">
                <div class="form-group has-feedback">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">コードキー</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:value="*{codeKey}" th:readonly="${not codeForm.isNew()}" />
                        </div>
                    </div>
                    <input th:replace="~{common/inputField :: input ('text', 'コード値', 'codeValue')}" />
                    <div class="form-group">
                        <label class="col-sm-2 control-label">コードエイリアス</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:value="*{codeAlias}" th:readonly="${not codeForm.isNew()}" />
                        </div>
                    </div>
                    <input th:replace="~{common/inputField :: input ('text', '表示順', 'displayOrder')}" />
                    <div class="form-group">
                        <label class="col-sm-2 control-label">無効フラグ</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:value="${invalid}" th:with="invalid=*{isInvalid eq true}" th:readonly="${not codeForm.isNew()}" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default" type="submit"
                                th:with="text=${codeForm.isNew()} ? '登録' : '編集'" th:text="${text}">
                            Add Code
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
