<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{common/layout}" th:with="menu='codes'"><!--/* menuItemにパラメータを渡す */-->
    <head layout:fragment="~{common/layout::header}">
        <title>コード管理</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h2>コード詳細</h2>

            <table class="table table-striped" th:object="${code}">
                <tr>
                    <th>ID</th>
                    <td th:text="*{id.value}"></td>
                </tr>
                <tr>
                    <th>コード分類</th>
                    <td><b th:text="*{categoryName}"></b></td>
                </tr>
                <tr>
                    <th>コードキー</th>
                    <td><b th:text="*{codeKey}"></b></td>
                </tr>
                <tr>
                    <th>コード値</th>
                    <td th:text="*{codeValue}"></td>
                </tr>
                <tr>
                    <th>コードエイリアス</th>
                    <td th:text="*{codeAlias}"></td>
                </tr>
                <tr>
                    <th>表示順</th>
                    <td th:text="*{displayOrder}"></td>
                </tr>
                <tr>
                    <th>無効フラグ</th>
                    <td th:text="${invalid}" th:with="invalid=${code.isInvalid eq true}"></td>
                </tr>
            </table>

            <a th:href="@{/codes/edit/{id}(id=${code.id.value})}" class="btn btn-default">編集</a>
        </div>
    </body>
</html>
