<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/sidebarLayout}">
    <head>
        <title>ファイル管理</title>
    </head>
    <body>
        <div layout:fragment="sidebar">
            <div th:replace="~{layouts/sidebar :: sidebar ('system', 'uploadfile')}"></div>
        </div>
        <section layout:fragment="content-header">
            <h1>アップロードファイル一覧</h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li>アップロードファイル一覧</li>
            </ol>
        </section>
        <section layout:fragment="content">
            <form th:action="@{'/system/uploadfiles/upload'}" enctype="multipart/form-data" method="post">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">ファイル一覧</h3>
                    </div>
                    <div class="box-body table-responsive">
                        <table id="files" class="table table-hover" th:if="${filenames} != null">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>ファイル名</th>
                                    <th>ファイル</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="filename, stat : ${filenames}">
                                    <td th:text="${stat.index + 1}" />
                                    <td>
                                        <a th:href="@{/system/uploadfiles/download/} + ${filename}" th:text="${filename}" />
                                    </td>
                                    <td>
                                        <img th:src="@{/system/uploadfiles/} + ${filename}" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        <div class="form-group col-xs-4">
                            <input type="file" name="file" id="uploadfile" style="display:none;">
                            <div class="input-group">
                                <input type="text" id="uploadFilePath" class="form-control" placeholder="ファイルを選択してください...">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info" onclick="$('input[id=uploadfile]').click();">選択</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-default bg-purple" value="Upload" />
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </body>
    <div layout:fragment="scripts">
        <script type="text/javascript" th:inline="javascript">
            $(document).ready(function() {
                $('input[id=uploadfile]').change(function() {
                    $('#uploadFilePath').val($(this).val().replace("C:\\fakepath\\", ""));
                });
            });
        </script>
    </div>
</html>
