<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/sidebarLayout}">
    <head>
        <title>ファイル管理</title>
    </head>
    <body>
        <div layout:fragment="sidebar">
            <div th:replace="~{layouts/sidebar :: sidebar ('system', 'uploadfile')}"></div>
        </div>
        <div class="content-header" layout:fragment="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-md d-none d-sm-inline-block">ファイル管理</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                            <li class="breadcrumb-item active">ファイル管理</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section layout:fragment="content">
            <div class="container-fluid">
                <div class="card card-outline card-purple shadow">
                    <div class="card-header">
                        <h3 class="card-title">ファイルアップロード</h3>
                    </div>
                    <div class="card-body">
                        <div id="myDropzone" class="dropzone ">
                            <div class="fallback"></div>
                        </div>
                    </div>
                    <div class="card-footer clearfix">
                        <div class="row justify-content-md-center">
                            <form id="form1" th:action="@{'/system/uploadFiles/upload'}" enctype="multipart/form-data" method="post">
                                <input type="submit" class="btn btn-primary" style="width: 140px;" value="アップロード" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card card-outline card-purple shadow">
                    <div class="card-header">
                        <h3 class="card-title">ファイル一覧</h3>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table id="files" class="table table-hover" th:if="${filenames} != null">
                            <thead>
                                <tr class="d-flex">
                                    <th class="col-1">No</th>
                                    <th class="col-5">ファイル名</th>
                                    <th class="col-5">ファイル</th>
                                    <th class="col-1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="d-flex" th:each="filename, stat : ${filenames}">
                                    <td class="col-1" th:text="${stat.index + 1}" />
                                    <td class="col-5">
                                        <a th:href="@{/system/uploadFiles/download/} + ${filename}" th:text="${filename}" />
                                    </td>
                                    <td class="col-5">
                                        <img th:if="${#strings.endsWith(filename, '.png') || #strings.endsWith(filename, '.jpg')}" th:src="@{/system/uploadFiles/} + ${filename}" width="100px" />
                                    </td>
                                    <td class="col-1">
                                        <form id="form2" th:action="@{'/system/uploadFiles/delete/' + ${filename}}" method="post">
                                            <input type="hidden" name="_method" value="delete">
                                            <button type="submit" class="btn btn-danger btn-sm">削除</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <div layout:fragment="scripts">
        <script th:replace="~{fragments/validationScript :: script}" />
        <script type="text/javascript" src="../public/static/js/system/fileUploads.js"
                th:src="@{/static/js/system/fileUploads.js}"></script>
    </div>
</html>
