<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="ja" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="ja" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="ja" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ja" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="ja" class="no-js"><!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <meta name="robots" content="noodp">
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/images/favicon.png}" />
        <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Sample</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css" />
        <link rel="stylesheet" href="../public/static/css/style.css" th:href="@{/static/css/style.css}" type="text/css" />
    </head>
    <body>
        <nav layout:fragment="navi" class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}"><span></span></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                        <span class="sr-only"><os-p>Toggle navigation</os-p></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="main-navbar">
                    <ul class="nav navbar-nav navbar-right" th:style="${noMenu} ? 'visibility: hidden' : ''">
                        <li th:replace="~{common/menuItem :: menuItem ('/', 'home', 'home page', 'home', 'Home')}">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            <span>Home</span>
                        </li>
                        <li th:replace="~{common/menuItem :: menuItem ('/logout', 'logout', '', 'log-out', 'Logout')}">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                            <span>Logout</span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <!--/* グローバルメッセージ */-->
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="alert-message alert-message-danger">
                        <p th:text="${GlobalMessage}"></p>
                    </div>
                </div>
            </div>
            <div class="container xd-container">
                <!--/* メインコンテンツ */-->
                <div layout:fragment="content" th:remove="tag" />
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img src="../public/static/images/spring-pivotal-logo.png" th:src="@{/static/images/spring-pivotal-logo.png}"
                                 alt="Sponsored by Pivotal"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="footer" th:remove="tag">
            <!--[if lt IE 9]>
            <script type="text/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"
                    th:src="@{/webjars/html5shiv/html5shiv.min.js}"></script>
            <script type="text/javascript" src="https://oss.maxcdn.com/respond/respond.js/1.4.2/respond.min.js"
                    th:src="@{/webjars/respond/respond.min.js}"></script>
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
            <![endif]-->
            <!--[if gte IE 9]><!-->
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"
                    th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <!--<![endif]-->
            <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                    th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        </div>
        <div layout:fragment="scripts" th:remove="tag" />
    </body>
</html>
