<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="ja" class="no-js">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="robots" content="noodp">

        <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/images/favicon.png}" />
        <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Sample</title>

        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/static/css/style.css}" />
    </head>
    <body>
        <nav layout:fragment="navi" class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}"><span></span></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                        <span class="sr-only"><os-p>Toggle navigation</os-p></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="main-navbar">
                    <ul class="nav navbar-nav navbar-right" th:style="${noMenu} ? 'visibility: hidden' : ''">
                        <li th:replace="~{common/menuItem :: menuItem ('/', 'home', 'home page', 'home', 'Home')}">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            <span>Home</span>
                        </li>
                        <li th:replace="~{common/menuItem :: menuItem ('/logout', 'logout', '', 'log-out', 'Logout')}">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                            <span>Logout</span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <!--/* グローバルメッセージ */-->
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="alert-message alert-message-danger">
                        <p th:text="${SuccessMessage}"></p>
                    </div>
                </div>
            </div>
            <div class="container xd-container">
                <!--/* メインコンテンツ */-->
                <div layout:fragment="content" th:remove="tag" />
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img src="../public/static/images/spring-pivotal-logo.png" th:src="@{/static/images/spring-pivotal-logo.png}"
                                 alt="Sponsored by Pivotal"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="footer" th:remove="tag">
            <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        </div>
        <div layout:fragment="scripts" th:remove="tag" />
    </body>
</html>
