<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{common/layout}" th:with="menu='staffs'"><!--/* menuItemにパラメータを渡す */-->
    <head layout:fragment="~{common/layout::header}">
        <title>担当者管理</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h2>担当者詳細</h2>

            <table class="table table-striped" th:object="${staff}">
                <tr>
                    <th>ID</th>
                    <td th:text="*{id.value}"></td>
                </tr>
                <tr>
                    <th>氏名</th>
                    <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td th:text="*{email}"></td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td th:text="*{tel}"></td>
                </tr>
            </table>

            <a th:href="@{/staffs/edit/{id}(id=${staff.id.value})}" class="btn btn-default">編集</a>
        </div>
    </body>
</html>
