<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{common/layout}" th:with="menu='users'"><!--/* menuItemにパラメータを渡す */-->
    <head layout:fragment="~{common/layout::header}">
        <title>ユーザー管理</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h2 th:with="text=${userForm['new']} ? 'ユーザー登録' : 'ユーザー編集'" th:text="${text}">ユーザー登録</h2>

            <form th:object="${userForm}" th:action="${action}" th:with="action=${userForm['new']} ? @{/users/new} : @{/users/edit/{id}(id=*{id})}" class="form-horizontal" enctype="multipart/form-data" method="post">
                <div class="form-group has-feedback">
                    <input th:replace="~{common/inputField :: input ('text', '名前', 'firstName')}" />
                    <input th:replace="~{common/inputField :: input ('text', '苗字', 'lastName')}" />
                    <input th:replace="~{common/inputField :: input ('password', 'パスワード', 'password')}" />
                    <input th:replace="~{common/inputField :: input ('password', '確認パスワード', 'passwordConfirm')}" />
                    <input th:replace="~{common/inputField :: input ('text', 'メールアドレス', 'email')}" />
                    <input th:replace="~{common/inputField :: input ('text', '郵便番号', 'zip')}" />
                    <input th:replace="~{common/inputField :: input ('text', '住所', 'address')}" />
                    <input th:replace="~{common/inputField :: input ('text', '電話番号', 'tel')}" />

                    <input th:replace="~{common/inputField :: input ('file', '添付画像', 'userImage')}" />
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default" type="submit"
                                th:with="text=${userForm['new']} ? '登録' : '編集'" th:text="${text}">
                            Add User
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
