<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/sidebarLayout}">
    <head>
        <title>顧客マスタ</title>
    </head>
    <body>
        <div layout:fragment="sidebar">
            <div th:replace="~{layouts/sidebar :: sidebar ('user', 'user')}"></div>
        </div>
        <div class="content-header" layout:fragment="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-md d-none d-sm-inline-block">顧客マスタ検索</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                            <li class="breadcrumb-item active">顧客マスタ検索</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section layout:fragment="content">
            <div class="container-fluid">
                <form th:object="${searchUserForm}" th:action="@{/users/find(page=1)}" method="post" class="form-horizontal">
                    <div class="card card-outline card-purple shadow">
                        <div class="card-header">
                            <h3 class="card-title">検索条件</h3>
                            <div class="card-tools">
                                <a th:href="@{/users/new}" class="btn btn-primary btn-sm btn-tool2 mx-1" role="button">
                                    <i class="fas fa-plus"></i>
                                    顧客マスタ登録
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <input th:replace="~{fragments/searchInputField :: input ('text', '姓', 'lastName')}" />
                            <input th:replace="~{fragments/searchInputField :: input ('text', '名', 'firstName')}" />
                            <input th:replace="~{fragments/searchInputField :: input ('text', 'メールアドレス', 'email')}" />
                        </div>
                        <div class="card-footer">
                            <div class="row justify-content-md-center">
                                <button type="submit" name="find" class="btn btn-primary" style="min-width: 140px;">検索</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card card-outline card-purple shadow">
                    <div class="card-header">
                        <h3 class="card-title">検索結果</h3>
                        <div class="card-tools">
                            <a th:href="@{/users/download/顧客.csv}" class="btn btn-success btn-sm btn-tool2 mx-1" role="button">
                                <i class="fas fa-download"></i>
                                CSVダウンロード
                            </a>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table id="users" class="table table-hover" th:if="${pages} != null">
                            <thead>
                                <tr class="d-flex">
                                    <th class="col-2">ID</th>
                                    <th class="col">氏名</th>
                                    <th class="col">メールアドレス</th>
                                    <th class="col">電話番号</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="d-flex" th:each="user : ${pages.content}">
                                    <td class="col-2">
                                        <a th:href="@{/users/show/__${user.id}__}" th:text="${user.id}" />
                                    </td>
                                    <td class="col" th:text="${user.firstName + ' ' + user.lastName}" />
                                    <td class="col" th:text="${user.email}" />
                                    <td class="col" th:text="${user.tel}" />
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer clearfix">
                        <div th:replace="~{fragments/paginator :: paginator (${pages}, '/users/find')}" />
                    </div>
                </div>
            </div>
        </section>
    </body>
    <div layout:fragment="scripts">
        <script type="text/javascript" th:inline="javascript">
            $(document).ready(function() {
            });
        </script>
    </div>
</html>
