<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noodp">

        <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/images/favicon.png}" />
        <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Sample</title>

        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/webjars/AdminLTE/dist/css/adminlte.min.css}" />
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}" />

        <link rel="stylesheet" href="../public/static/css/style.css" th:href="@{/static/css/style.css}" />
    </head>
    <body class="hold-transition layout-top-nav">
        <div class="wrapper">
            <nav class="main-header navbar navbar-expand navbar-dark bg-purple">
                <ul class="navbar-nav ml-auto" th:if="${#authorization.expression('isAuthenticated()')}">
                    <li class="nav-item">
                        <a href="#" id="logout" class="nav-link pr-1">
                            <i class="fas fa-sign-out-alt"></i>
                            ログアウト
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="content-wrapper">
                <section class="content-header" th:remove="${#strings.isEmpty(str)}? body : none" th:with="str=${GlobalMessage}">
                    <p th:text="${str}" class="alert alert-danger"></p>
                </section>
                <section layout:fragment="content" class="content">
                    <div class="card card-outline card-purple shadow">
                        <div class="card-header">
                            <h3 class="card-title">ボックスタイトル</h3>
                        </div>
                        <div class="card-body">
                            <p>ボックスボディー</p>
                        </div>
                    </div>
                </section>
            </div>
            <footer class="main-footer">
                Copyright &copy; Sample Admin. All rights reserved.
                <div class="float-right d-none d-sm-inline-block">
                    version 0.0.1
                </div>
            </footer>
        </div>

        <div layout:fragment="footer" th:remove="tag">
            <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
            <script type="text/javascript" th:src="@{/webjars/AdminLTE/dist/js/adminlte.min.js}"></script>
        </div>
        <div layout:fragment="scripts" th:remove="tag" />
        <form name="logout" th:action="@{/logout}" method="post"></form>
        <script type="text/javascript" th:inline="javascript">
            $(document).ready(function() {
                $("#logout").bind("click", function() {
                    $("form[name='logout']").submit();
                });
            });
        </script>
    </body>
</html>
