<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/error}">
	<head layout:fragment="~{layouts/layout::header}">
		<title>エラー</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<h1>500 Internal Server Error</h1>
					</div>
					<div class="col-12">
						<h3>システムエラーが発生しました。</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-12 pt-4">
						<a th:href="@{/}">トップページにもどる</a>
					</div>
				</div>
				<div th:if="${exception != null and @environment.acceptsProfiles('development')}">
					<pre th:text="${trace}"></pre>
				</div>
			</div>
		</div>
	</body>
</html>
