<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/sidebarLayout}">
    <head>
        <title>担当者管理</title>
    </head>
    <body>
        <div layout:fragment="sidebar">
            <div th:replace="~{layouts/sidebar :: sidebar ('system', 'staff')}"></div>
        </div>
        <section layout:fragment="content-header">
            <h1 th:with="text=${staffForm.isNew()} ? '担当者登録' : '担当者編集'" th:text="${text}">担当者登録</h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/system/staffs/find(page=1)}">担当者検索</a></li>
                <li th:with="text=${staffForm.isNew()} ? '担当者登録' : '担当者編集'" th:text="${text}">担当者登録</li>
            </ol>
        </section>
        <section layout:fragment="content">
            <div class="box">
                <form th:object="${staffForm}" th:action="${action}" id="form1"
                      th:with="action=${staffForm.isNew()} ? @{/system/staffs/new} : @{/system/staffs/edit/{id}(id=*{id})}"
                      class="form-horizontal" enctype="multipart/form-data" method="post">
                    <div class="box-body">
                        <input th:replace="~{fragments/inputField :: input ('text', '名前', 'firstName')}" />
                        <input th:replace="~{fragments/inputField :: input ('text', '苗字', 'lastName')}" />
                        <input th:replace="~{fragments/inputField :: input ('password', 'パスワード', 'password')}" />
                        <input th:replace="~{fragments/inputField :: input ('password', '確認パスワード', 'passwordConfirm')}" />
                        <input th:replace="~{fragments/inputField :: input ('text', 'メールアドレス', 'email')}" />
                        <input th:replace="~{fragments/inputField :: input ('text', '電話番号', 'tel')}" />
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-default bg-purple" type="submit"
                                th:with="text=${staffForm.isNew()} ? '登録' : '保存'" th:text="${text}">
                            Add Staff
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </body>
    <div layout:fragment="scripts">
        <script th:replace="~{fragments/validationScript :: script}" />
        <script type="text/javascript" src="../public/static/js/system/staffs.js"
                th:src="@{/static/js/system/staffs.js}"></script>
    </div>
</html>
