<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layouts/sidebarLayout}">
    <head>
        <title>顧客マスタ</title>
    </head>
    <body>
        <div layout:fragment="sidebar">
            <div th:replace="~{layouts/sidebar :: sidebar ('user', 'user')}"></div>
        </div>
        <section layout:fragment="content-header">
            <h1 th:with="text=${userForm.isNew()} ? '顧客登録' : '顧客編集'" th:text="${text}">顧客登録</h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/users/users/find(page=1)}">顧客検索</a></li>
                <li th:with="text=${userForm.isNew()} ? '顧客登録' : '顧客編集'" th:text="${text}">顧客登録</li>
            </ol>
        </section>
        <section layout:fragment="content">
            <div class="box">
                <form th:object="${userForm}" th:action="${action}" id="form1"
                      th:with="action=${userForm.isNew()} ? @{/users/users/new} : @{/users/users/edit/{id}(id=*{id})}"
                      class="form-horizontal" enctype="multipart/form-data" method="post">
                    <div class="box-body">
                        <input th:replace="~{fragments/inputField :: input ('text', '名前', 'firstName')}" />
                        <input th:replace="~{fragments/inputField :: input ('text', '苗字', 'lastName')}" />
                        <input th:replace="~{fragments/inputField :: input ('password', 'パスワード', 'password')}" />
                        <input th:replace="~{fragments/inputField :: input ('password', '確認パスワード', 'passwordConfirm')}" />
                        <input th:replace="~{fragments/inputField :: input ('text', 'メールアドレス', 'email')}" />
                        <input th:replace="~{fragments/inputField :: input ('text', '郵便番号', 'zip')}" />
                        <input th:replace="~{fragments/inputField :: input ('text', '住所', 'address')}" />
                        <input th:replace="~{fragments/inputField :: input ('text', '電話番号', 'tel')}" />
                        <input th:replace="~{fragments/inputField :: input ('file', '添付画像', 'userImage')}" />
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-default bg-purple" type="submit"
                                th:with="text=${userForm.isNew()} ? '登録' : '保存'" th:text="${text}">
                            Add User
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </body>
    <div layout:fragment="scripts">
        <script th:replace="~{fragments/validationScript :: script}" />
        <script type="text/javascript" src="../public/static/js/system/users.js"
                th:src="@{/static/js/system/users.js}"></script>
    </div>
</html>
