<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
    <head>
        <title>パスワードの変更</title>
    </head>
    <body class="login-page">
        <div layout:fragment="content">
            <div class="login-box">
                <div class="login-logo">
                    パスワードの変更
                </div>
                <div class="login-box-body" th:if="${(param.error == null && param.done == null)}">
                    <p class="login-box-msg">新しいパスワードを入力してください。</p>
                    <form class="form-horizontal" th:object="${changePasswordForm}"
                          th:action="@{'/changePassword'}" method="post" autocomplete="off">
                        <div class="box-body">
                            <div class="form-group" th:with="invalid=${#fields.hasErrors('password')}"
                                 th:class="${'form-group' + (invalid ? ' has-error' : '')}">
                                <input type="password" class="form-control" name="password" placeholder="パスワード" />
                                <span th:if="${invalid}" class="help-block" th:errors="*{password}">Error</span>
                            </div>
                            <div class="form-group" th:with="invalid=${#fields.hasErrors('passwordConfirm')}"
                                 th:class="${'form-group' + (invalid ? ' has-error' : '')}">
                                <input type="password" class="form-control" name="passwordConfirm" placeholder="確認パスワード" />
                                <span th:if="${invalid}" class="help-block" th:errors="*{passwordConfirm}">Error</span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn bg-purple btn-block btn-flat">保存</button>
                            </div>
                        </div>
                    </form>
                    <a href="#" th:href="@{/login}">ログイン画面に戻る</a>
                </div>
                <div class="login-box-body" th:if="${(param.error != null)}">
                    <p class="login-box-msg">有効なトークンではありません。もう一度パスワードをリセットしてください。</p>
                    <a href="#" th:href="@{/resetPassword}">パスワードリセットに戻る</a>
                </div>
                <div class="login-box-body" th:if="${(param.done != null)}">
                    <p class="login-box-msg">パスワードを変更しました。</p>
                    <a href="#" th:href="@{/login}">ログイン画面に戻る</a>
                </div>
            </div>
        </div>
    </body>
</html>
