<html xmlns:th="http://www.thymeleaf.org" lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noodp">

        <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/images/favicon.png}" />
        <title>ログイン</title>

        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/webjars/AdminLTE/dist/css/adminlte.min.css}" />
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/fontawesome.min.css}" />
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                Sample Admin
            </div>
            <div class="card card-outline card-purple shadow">
                <div class="card-body login-card-body">
                    <div class="login-box-msg">
                        <p class="text-danger" th:remove="${#strings.isEmpty(str)} ? all : none"
                           th:with="str=${GlobalMessage}" th:text="${str}">Sign in to start your session</p>
                    </div>
                    <div class="login-box-body">
                        <form id="loginForm" th:action="@{'/login'}" method="post">
                            <div class="mb-3">
                                <input type="text" class="form-control" name="loginId" autofocus="" placeholder="メールアドレス" />
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" name="password" placeholder="パスワード" />
                            </div>
                            <div class="row">
                                <div class="col-12 no-padding">
                                    <button type="submit" class="btn btn-primary btn-block">ログイン</button>
                                </div>
                            </div>
                        </form>
                        <p class="mb-1">
                            <a href="#" th:href="@{/resetPassword}">パスワードを忘れた場合</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script>
            <!--/* 二度押しするとforbiddenにリダイレクトされるので防止 */-->
            var submitted;
            $(document).ready(function(){
                $('#loginForm').on('submit', function(){
                    if(submitted){
                        return false;
                    }
                    submitted = true;
                });
            });
        </script>
    </body>
</html>
