<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
    <head>
        <title>パスワードのリセット</title>
    </head>
    <body class="login-page">
        <div layout:fragment="content">
            <div class="login-box" th:if="${(param.error == null && param.done == null && param.sent == null)}">
                <div class="login-logo">
                    メールアドレスを入力してください。
                </div>
                <div class="login-box-body">
                    <p class="login-box-msg">パスワードのリセット方法が記載されたメールが送信されます。</p>
                    <form class="form-horizontal" th:object="${resetPasswordForm}"
                          th:action="@{'/resetPassword'}" method="post">
                        <div class="box-body">
                            <div class="form-group" th:with="invalid=${#fields.hasErrors('email')}"
                                 th:class="${'form-group' + (invalid ? ' has-error' : '')}">
                                <input type="text" class="form-control" name="email" autofocus="" placeholder="メールアドレス" />
                                <span th:if="${invalid}" class="help-block" th:errors="*{email}">Error</span>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 no-padding">
                                    <button type="submit" class="btn bg-purple btn-block btn-flat">メールを送信する</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <a href="#" th:href="@{/login}">ログイン画面に戻る</a>
                </div>
            </div>
            <div class="login-box" th:if="${(param.sent != null)}">
                <div class="login-logo">
                    メールを送信しました。
                </div>
                <div class="login-box-body">
                    <p class="login-box-msg">メール本文のリンクを開いてパスワードをリセットしてください。</p>
                    <a href="#" th:href="@{/login}">ログイン画面に戻る</a>
                </div>
            </div>
            <div class="login-box" th:if="${(param.error != null)}">
                <div class="login-logo">
                    パスワードのリセットが失敗しました。
                </div>
                <div class="login-box-body">
                    <p class="login-box-msg"></p>
                    <a href="#" th:href="@{/login}">ログイン画面に戻る</a>
                </div>
            </div>
            <div class="login-box" th:if="${(param.done != null)}">
                <div class="login-logo">
                    パスワードのリセットが完了しました。
                </div>
                <div class="login-box-body">
                    <p class="login-box-msg">ログインする際にパスワードを設定してください。</p>
                    <a href="#" th:href="@{/login}">ログイン画面に戻る</a>
                </div>
            </div>
        </div>
    </body>
</html>
