<html xmlns:th="http://www.thymeleaf.org" lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noodp">

        <link rel="shortcut icon" type="image/x-icon" th:href="@{/static/images/favicon.png}" />
        <title>パスワードのリセット</title>

        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/webjars/AdminLTE/dist/css/adminlte.min.css}" />
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/fontawesome.min.css}" />
    </head>
    <body class="hold-transition login-page">
        <div class="login-box" th:if="${(param.error == null && param.done == null && param.sent == null)}">
            <div class="login-logo">
                パスワードリセット
            </div>
            <div class="card card-outline card-purple shadow">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">パスワードのリセット方法が記載されたメールが送信されます。</p>
                    <div class="login-box-body">
                        <form th:object="${resetPasswordForm}" th:action="@{'/resetPassword'}" method="post">
                            <div class="mb-3" th:with="invalid=${#fields.hasErrors('email')}"
                                 th:class="${'form-group' + (invalid ? ' has-error' : '')}">
                                <input type="text" class="form-control" name="email" autofocus="" placeholder="メールアドレス" />
                                <span th:if="${invalid}" class="help-block" th:errors="*{email}">Error</span>
                            </div>
                            <div class="row">
                                <div class="col-12 no-padding">
                                    <button type="submit" class="btn btn-primary btn-block">メールを送信する</button>
                                </div>
                            </div>
                        </form>
                        <p class="mb-1">
                            <a href="#" th:href="@{/login}">ログイン画面に戻る</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-box" th:if="${(param.sent != null)}">
            <div class="login-logo">
                パスワードリセット
            </div>
            <div class="card card-outline card-purple shadow">
                <div class="card-body login-card-body">
            <div class="login-box-body">
                <p class="login-box-msg">メール本文のリンクを開いてパスワードをリセットしてください。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-box" th:if="${(param.error != null)}">
            <div class="login-logo">
                パスワードリセット
            </div>
            <div class="card card-outline card-purple shadow">
                <div class="card-body login-card-body">
            <div class="login-box-body">
                        <p class="login-box-msg text-danger">パスワードのリセットが失敗しました。</p>
                        <div class="row">
                            <div class="col-12 no-padding">
                                <a class="btn btn-primary btn-block" href="#" th:href="@{/login}">ログイン画面に戻る</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-box" th:if="${(param.done != null)}">
            <div class="login-logo">
                パスワードリセット
            </div>
            <div class="card card-outline card-purple shadow">
                <div class="card-body login-card-body">
            <div class="login-box-body">
                        <p class="login-box-msg">パスワードのリセットが完了しました。ログインする際にパスワードを設定してください。</p>
                        <div class="row">
                            <div class="col-12 no-padding">
                                <a class="btn btn-primary btn-block" href="#" th:href="@{/login}">ログイン画面に戻る</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
