html {
  font-family: Helvetica, "Helvetica Neue", "Mplus 1p", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, Osaka, "MS PGothic" !important;
}
body {
  font-family: "Helvetica Neue", "Mplus 1p", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, Osaka, "MS PGothic" !important;
}

.btn-tool2 {
    font-size: .875rem;
    margin: -.75rem 0;
    padding: .25rem .5rem;
}

.form-group.has-error label {
  color: #dc3545;
}
.form-group.has-error .help-block {
  color: #dc3545;
}
