<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <form>
            <th:block th:fragment="input (type, label, name)" th:with="labelSize=${labelSize} ?: 2, formSize=${formSize} ?: 3, placeholder=${placeholder}">
                <div th:with="valid=${!#fields.hasErrors(name)}" th:class="${'form-group' + (valid ? '' : ' has-error')}" class="form-group">
                    <div class="row">
                        <label th:class="|col-sm-${#strings.toString(labelSize)} col-form-label|" th:text="${label}">Label</label>
                        <div th:class="|col-sm-${#strings.toString(formSize)}|">
                            <input class="form-control input-placeholder" type="text" th:type="${type}" th:field="*{__${name}__}" th:placeholder="${placeholder}" />
                            <span th:if="${!valid}" class="help-block" th:errors="*{__${name}__}">Error</span>
                        </div>
                    </div>
                </div>
            </th:block>
        </form>
    </body>
</html>
