<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="paginator (p, url)">
			<div th:if="${p} != null" th:remove="tag">
				<div class="row align-items-center">
					<div class="col-sm-4">
						<div th:remove="${pages.totalElements} eq 0 ? body: none" th:text="|${pages.totalElements}件中、${pages.pageable.offset + 1}〜${pages.pageable.offset + pages.numberOfElements}件を表示|"></div>
					</div>
					<div class="col-sm-8">
						<ul class="pagination m-0 float-right">
							<li class="page-item" th:class="${first} ? 'page-item disabled':'page-item'" th:with="first=${p.number} == 0">
								<a class="page-link" th:href="@{${url}(page=1)}">
									<i class="fa fa-angle-double-left"></i>
								</a>
							</li>
							<li class="page-item" th:class="${first} ? 'page-item disabled':'page-item'" th:with="first=${p.number} == 0">
								<a class="page-link" th:href="@{${url}(page=${p.number})}">
									<i class="fa fa-angle-left"></i>
								</a>
							</li>
							<li th:each="i : ${#numbers.sequence(1, p.totalPages)}"
								th:class="(${i} == (${p.number} + 1)) ? 'page-item active' : 'page-item'">
								<a class="page-link" th:if="${i} != (${p.number} + 1) and (${p.number} + 1 - 5) < ${i} and ${i} < (${p.number} + 1 + 5) and ${i} > 0"
								   th:href="@{${url}(page=${i})}" th:text="${i}"></a>
								<span class="page-link" th:if="${i} == (${p.number} + 1)" th:text="${i}"></span>
							</li>
							<li th:class="${last} ? 'page-item disabled':'page-item'" th:with="last=(${p.number} + 1 == ${p.totalPages})">
								<a class="page-link" th:href="@{${url}(page=(${p.number} + 2))}">
									<i class="fa fa-angle-right"></i>
								</a>
							</li>
							<li th:class="${last} ? 'page-item disabled':'page-item'" th:with="last=(${p.number} + 1 == ${p.totalPages})">
								<a class="page-link" th:href="@{${url}(page=(${p.totalPages}))}">
									<i class="fa fa-angle-double-right"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</th:block>
	</body>
</html>
