<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/sidebarLayout}">
    <head>
        <title>祝日管理</title>
    </head>
    <body>
        <div layout:fragment="sidebar">
            <div th:replace="~{layouts/sidebar :: sidebar ('system', 'holiday')}"></div>
        </div>
        <section layout:fragment="content-header">
            <h1 th:with="text=${holidayForm.isNew()} ? '祝日登録' : '祝日編集'" th:text="${text}">祝日登録</h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/system/holidays/find(page=1)}">祝日検索</a></li>
                <li th:with="text=${holidayForm.isNew()} ? '祝日登録' : '祝日編集'" th:text="${text}">祝日登録</li>
            </ol>
        </section>
        <section layout:fragment="content">
            <div class="box">
                <form th:object="${holidayForm}" th:action="${action}" id="form1"
                      th:with="action=${holidayForm.isNew()} ? @{/system/holidays/new} : @{/system/holidays/edit/{id}(id=*{id})}"
                      class="form-horizontal" enctype="multipart/form-data" method="post">
                    <div class="box-body">
                        <input th:replace="~{fragments/inputField :: input ('text', '祝日名', 'holidayName')}" />
                        <input th:replace="~{fragments/dateField :: input ('text', '日付', 'holidayDate', *{holidayDate}, 'yyyy/MM/dd')}" />
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-default bg-purple" type="submit"
                                th:with="text=${holidayForm.isNew()} ? '登録' : '保存'" th:text="${text}">
                            Add Holiday
                        </button>
                    </div>
                </form>
            </div>
        </section>
        <div layout:fragment="scripts">
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"
                    th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.ja.js"
                    th:src="@{/webjars/bootstrap-datepicker/locales/bootstrap-datepicker.ja.min.js}"></script>
            <script th:replace="~{fragments/validationScript :: script}" />
            <script type="text/javascript" src="../public/static/js/system/holidays.js"
                    th:src="@{/static/js/system/holidays.js}"></script>
            <script type="text/javascript" th:inline="javascript">
                $(function() {
                    $('#holidayDate').datepicker({
                        language: "ja",
                        format: "yyyy/mm/dd",
                        todayHighlight: true,
                        autoclose: true
                    });
                });
            </script>
        </div>
    </body>
</html>
