<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/sidebarLayout}">
    <head>
        <title>祝日マスタ</title>
    </head>
    <body>
        <div layout:fragment="sidebar">
            <div th:replace="~{layouts/sidebar :: sidebar ('system', 'holiday')}"></div>
        </div>
        <div class="content-header" layout:fragment="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-md d-none d-sm-inline-block">祝日マスタ詳細</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/system/holidays/find(page=1)}">祝日マスタ検索</a></li>
                            <li class="breadcrumb-item active">祝日マスタ詳細</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section layout:fragment="content">
            <div class="container-fluid">
                <div class="card card-outline card-purple shadow">
                    <div class="card-header">
                        <h3 class="card-title">詳細表示</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped" th:object="${holiday}">
                            <tr class="d-flex">
                                <th class="col-2">ID</th>
                                <td class="col" th:text="*{id}"></td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">名称</th>
                                <td class="col" th:text="*{holidayName}"></td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">日付</th>
                                <td th:text="${(v != null) ? #temporals.format(v, 'yyyy/MM/dd') : ''}"
                                    th:with="v=*{holidayDate}"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-footer clearfix">
                        <div class="row justify-content-md-center">
                            <form th:action="@{'/system/holidays/remove/' + ${holiday.id}}" method="post">
                                <a th:href="@{/system/holidays/edit/{id}(id=${holiday.id})}" class="btn btn-primary mx-2" style="width: 140px;">編集</a>
                                <button type="submit" class="btn btn-danger mx-2" style="width: 140px;">削除</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
