<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/sidebarLayout}">
    <head>
        <title>コードマスタ</title>
    </head>
    <body>
        <div layout:fragment="sidebar">
            <div th:replace="~{layouts/sidebar :: sidebar ('system', 'code')}"></div>
        </div>
        <div class="content-header" layout:fragment="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-md d-none d-sm-inline-block">コードマスタ詳細</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/system/codes/find(page=1)}">コードマスタ検索</a></li>
                            <li class="breadcrumb-item active">コードマスタ詳細</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section layout:fragment="content">
            <div class="container-fluid">
                <div class="card card-outline card-purple shadow">
                    <div class="card-header">
                        <h3 class="card-title">詳細表示</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped" th:object="${code}">
                            <tr class="d-flex">
                                <th class="col-2">ID</th>
                                <td class="col" th:text="*{id}"></td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">分類</th>
                                <td class="col" th:text="*{categoryName}"></td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">コード値</th>
                                <td class="col" th:text="*{codeValue}"></td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">コードエイリアス</th>
                                <td class="col" th:text="*{codeAlias}"></td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">表示順</th>
                                <td class="col" th:text="*{displayOrder}"></td>
                            </tr>
                            <tr class="d-flex">
                                <th class="col-2">無効フラグ</th>
                                <td class="col">
                                    <input type="checkbox"
                                           th:field="*{isInvalid}"
                                           th:value="${invalid}"
                                           th:with="invalid=*{isInvalid eq true}" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-footer clearfix">
                        <div class="row justify-content-md-center">
                            <form th:action="@{'/system/codes/remove/' + ${code.id}}" method="post">
                                <a th:href="@{/system/codes/edit/{id}(id=${code.id})}" class="btn btn-primary mx-2" style="width: 140px;">編集</a>
                                <button type="submit" class="btn btn-danger mx-2" style="width: 140px;">削除</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
